@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, a, span {border:0 none;margin:0;padding:0;}
.clear{ clear:both;}
ul,li{ list-style-type:none;}
body a{ text-decoration:none;}
a:link, a:visited {color:#333; }
a:hover, a:active {color:#fc7f0f;}
.bank5{width:100%; height:5px; display:block; clear:both; font-size:0;}
.bank10{width:100%; height:10px; display:block; clear:both; font-size:0;}
.bank15{width:100%; height:15px; display:block; clear:both; font-size:0;}
.bank40{width:100%; height:40px; display:block; clear:both; font-size:0;}
.red{ color:#f00;}
.blue{color:#2A407C}
.yellow{ color:#FC7F0F;}
body{ font-size:12px;background:#effbff;}
table { border-collapse: collapse; border-spacing: 0;}
font{ font-size:12px;}
/*---------------------------------以上是公用代码--------------------------------*/
/*---------------------------------以上是公用代码--------------------------------*/
.header{ width:100%; height:65px; background:url(../images/top_bg.jpg) repeat-x;}
.header_center{ width:100%; height:auto;}
.header_logo{ width:100%; height:65px; background:url(../images/logo.png) no-repeat; }
.top_ri{ float:right; }
.top_ri .top_user{ padding-left:30px; line-height:35px; height:35px;  float:right; margin:0 20px 0 0; display:inline; color:#fff;}
.top_ri .top_user a:link,.top_ri .top_user a:visited {color:#fff; }
.top_ri .top_user a:hover,.top_ri .top_user a:active {color:#fc7f0f;}
.nav_menu{ float:right; margin-top:4px; }
.nav_menu ul{ float:right; padding-left:49px;}
.nav_menu ul li{ width:69px; height:26px; margin-right:10px; display:inline; float:left; text-align:center; font-weight:600; line-height:26px;}
.nav_menu ul li a:link,.nav_menu ul li a:visited { width:69px; height:26px; background:url(../images/menu_li_bg.jpg) no-repeat; color:#fff; display:block; overflow:hidden;}
.nav_menu ul li a:hover,.nav_menu ul li a:active {color:#fff; background:url(../images/menu_li_bg.jpg) no-repeat 0 -26px; }
.nav_menu_hover{ width:69px; height:69px; color:#fff !important; background:url(../images/menu_li_bg.jpg) no-repeat 0 -26px !important;}
.nav_index_ico,.nav_resourse_ico,.nav_content_ico,.nav_copyright_ico,.nav_number_ico,.nav_system_ico,.nav_out_ico{ width:32px; height:32px; background:url(../images/top_menu.png) no-repeat; _ background:url(../images/top_menu.gif) no-repeat; margin:15px 14px 0 ; display:inline-block;}
.nav_index_ico{ background-position:0 0;}
.nav_resourse_ico{ background-position:0 -40px;}
.nav_content_ico{ background-position:0 -80px;}
.nav_copyright_ico{ background-position:0 -120px;}
.nav_number_ico{ background-position:0 -160px;}
.nav_system_ico{ background-position:0 -200px;}
.nav_out_ico{ background-position:0 -240px; margin:15px 12px 0 16px;}
.nav_margin_ico{ width:32px; height:32px;  background:url(../images/component_preferences.png) no-repeat; _background:url(../images/component_preferences.gif) no-repeat; margin:15px 14px 0 ; display:inline-block;}
.nav_menu_text{ line-height:25px;}
/*---------------头部 end------------------*/
.ri_resources_ico,.resources_ico,.book_ico,.add_book_ico,.write_ico,.dele_book_ico,.pen_ico,.dele_ico,.arrow_ico,.ri_add_ico,.ri_modi_ico{ background:url(../images/smart_ico.gif) no-repeat;}
.ri_resources_ico{ width:18px; height:15px; background-position:0 -100px; margin:7px 5px 0 10px;}
.resources_ico{ width:18px; height:19px; background-position:0 -60px; margin:4px 4px 0 10px ;}
.book_ico{width:3px; height:5px; background-position:0 0; margin:12px 10px 0 24px ;}
.add_book_ico{ width:14px; height:13px; background-position:0 -20px; margin:4px 5px 0 18px ;}
.write_ico{ width:14px; height:14px; background-position:0 -120px;}
.dele_book_ico{ width:14px; height:14px; background-position:0 -180px; margin:7px 4px 0 10px ;}
.pen_ico{ width:11px; height:11px; background-position:0 -220px; display:inline-block; margin:0 4px 0 0}
.dele_ico{ width:10px; height:10px; background-position:0 -300px; display:inline-block; margin:0 4px 0 10px}
.arrow_ico{ width:10px; height:7px; background-position:0 -200px;}
.ri_add_ico{ width:14px; height:13px; background-position:0 -260px; margin:7px 4px 0 10px ;}
.ri_modi_ico{ width:14px; height:14px; background-position:0 -140px; margin:7px 4px 0 30px ;}
.ri_role_fz_ico{ width:16px; height:16px; background:url(../images/248.gif) no-repeat; margin:7px 4px 0 10px ; display:inline-block;}
.ri_role_sq_ico{ width:16px; height:16px; background:url(../images/246.gif) no-repeat; margin:7px 4px 0 10px ; display:inline-block;}
.excel_ico{ width:16px; height:16px; background:url(../images/excel_ico.jpg) no-repeat; margin:5px 5px 0 10px;}
.resource_up_ico{ width:14px; height:14px; background:url(../images/resource_up_ico.jpg) no-repeat; margin:5px 3px 0 10px;  display:inline-block;}
.resource_down_ico{ width:14px; height:14px; background:url(../images/resource_down_ico.jpg) no-repeat; margin:5px 3px 0 10px;  display:inline-block;}
.storage_icon{ width:16px; height:16px; background:url(../images/storage_icon.gif) no-repeat 0 -2px; display:inline-block; }
.detail_icon{ width:15px; height:19px; background:url(../images/detail_icon.gif) no-repeat 0 5px; display:inline-block; }
.edit_icon{ width:16px; height:19px; background:url(../images/edit_icon.gif) no-repeat 0 5px; display:inline-block; }
.content{ width:100%;}
.table_line6{ width:14px; background:url(../images/mid_bg.jpg) repeat-y ; position:relative; z-index:1;}
.left{ width:216px; overflow:visible; background:url(../images/left_background.jpg) repeat-y;  }
.left_bg{ width:216px; height:34px; background:url(../images/left_bg.jpg) no-repeat; position:relative; z-index:2;}
.left_bg .left_bg_line{ width:17px; height:34px; background:url(../images/mid_ri_bg.jpg) no-repeat; position:absolute; top:0; right:-17px; z-index:3;}
.left_menu{ width:210px; height:auto; margin-left:6px;}
.left_menu_tit{ width:100%; height:30px; background:url(../images/left_menu_tit.jpg) repeat-x; line-height:30px; color:#27496c; font-size:14px; overflow:hidden; font-weight:600; }
.left_menu_tit span{ float:left;}
.left_menu ul{ width:210px; height:auto; overflow:hidden;}
.left_menu ul li{ width:100%; height:28px; *margin-top:-3px; margin-top:0 /9; overflow: hidden; line-height:28px; border-bottom:1px solid #bacad3;}
.left_menu ul li span{ float:left; cursor:pointer;}
.left_menu ul li a:link,.left_menu ul li a:visited {color:#45546b; width:100%; height:28px; display:block; }
.left_menu ul li a:hover,.left_menu ul li a:active {color:#45546b; background:url(../images/left_li_bg.jpg) repeat-x;}
.left_menu_hover{ width:100%; height:28px; color:#45546b !important; background:url(../images/left_li_bg.jpg) repeat-x;}
/*--------------左侧菜单 end--------------*/
.arrow_open{ width:14px; height:69px; background:url(../images/line_arrow.jpg) no-repeat; cursor:pointer;  }
.arrow_close{ width:14px; height:69px; background:url(../images/line_arrow.jpg) no-repeat -14px 0; cursor:pointer;}
/*-----------------主体 end------------------*/
.footer{ width:100%; height:30px; background:#61afe6; line-height:30px; color:#213b6c; text-align:center;}
/*------------------尾部 end-----------------*/
.right_top_bg{ background:url(../images/right_top_bg.jpg) repeat-x;}
.ri_box{ width:98%; margin:5px auto 0; }
.ri_box_top{ width:100%; height:27px; line-height:27px;}
.ri_box_top .ri_top_le{ float:left;}
.ri_box_top .ri_top_le span{ float:left; font-weight:600;}
.ri_box_top .ri_top_ri{ float:right; padding-right:10px;}
.ri_box_top .ri_top_ri span{ float:left; margin-right:5px;}
.ri_box_top .ri_top_ri span a:link,.ri_box_top .ri_top_ri span a:visited {color:#000; }
.ri_box_top .ri_top_ri span a:hover,.ri_box_top .ri_top_ri span a:active {color:#fc7f0f;}
.ri_box_mid{ padding:2px 5px}
.ri_box_mid table{ border:1px solid #cedae2; width:100%;}
.ri_box_mid table th{ background:url(../images/ri_top_fot_bg.jpg) repeat-x 0 -54px; height:35px; font-weight:normal;}
.ri_box_mid table th, .ri_box_mid table td{ border-color: #cedae2; border-style: none solid solid none; border-width: 1px; text-align:center;}
.ri_box_mid table td{ line-height:25px; height:25px;}
.ri_box_mid table td a:link,.ri_box_mid table td a:visited {color:#085162; }
.ri_box_mid table td a:hover,.ri_box_mid table td a:active {color:#fc7f0f;}
.ri_box_mid table tr td span{ white-space:nowrap;}
.ri_box_mid ul{ width:100%; clear:both;}
.ri_box_mid ul li{ float:left; margin:10px 10px 0 0; display:inline; white-space:nowrap; line-height:24px;}
.ri_box_mid ul li span{ float:left; margin-right:10px; line-height:22px;}
.ri_box_fot{ padding:0 8px; _padding:0 6px; height:27px; }
.ri_box_fot .ri_fot_le{ float:left; line-height:27px; white-space:nowrap;}
.ri_box_fot .ri_fot_le a:link,.ri_box_fot .ri_fot_le a:visited {color:#000; }
.ri_box_fot .ri_fot_le a:hover,.ri_box_fot .ri_fot_le a:active {color:#fc7f0f;}
.ri_box_fot .ri_fot_le span{ float:left; white-space:nowrap;}
.ri_box_fot .ri_fot_le span a:link,.ri_box_fot .ri_fot_le span a:visited {color:#000; }
.ri_box_fot .ri_fot_le span a:hover,.ri_box_fot .ri_fot_le span a:active {color:#fc7f0f;}
.ri_box_fot .ri_fot_ri{ float:right; white-space:nowrap;}
.ri_box_fot .ri_fot_ri span{  margin-right:5px; line-height:27px; white-space:nowrap;}
.ri_box_fot .ri_fot_ri a:link,.ri_box_fot .ri_fot_ri a:visited {color:#000; }
.ri_box_fot .ri_fot_ri a:hover,.ri_box_fot .ri_fot_ri a:active {color:#fc7f0f;}
.page_btn{ width:43px; height:15px; display:inline-block; line-height:15px !important; text-align:center; background:url(../images/page_btn.jpg) no-repeat; margin-top:5px; cursor:pointer;}
.page_btn_arrow{ width:20px; height:15px; display:inline-block; line-height:15px !important; text-align:center; background:url(../images/page_btn_arrow.jpg) no-repeat; margin-top:5px; padding-left:17px; cursor:pointer;}
.ri_checkbox{ margin:3px 2px 0 15px;}
.ri_page_text{ width:30px; height:15px; margin:0 5px;}
.color_green{ color:#085162;}
/*-----------------资源列表 end---------------*/
.sear_list{ width:98%; margin:5px auto 0; border:1px solid #a4d2ec; overflow:hidden; background:#fff; position:relative;}
.sear_list table tr{ height:30px;}
.sear_list ul{ width:100%; clear:both;}
.sear_list ul li{ float:left; margin:10px 0 5px 0; display:inline; white-space:nowrap; line-height:24px; position:relative;
    top: 0px;
    left: 0px;
}
/*.sear_list ul li{ float:left; margin:10px 0 0 0; display:inline; line-height:24px; position:relative; }*/
.sear_list ul li input{}
.sear_list ul li span{ float:left; margin-right:3px; line-height:22px;}
.sear_list_btn{ width:67px; height:26px; text-align:center; }
.sear_list_btn a:link,.sear_list_btn a:visited { width:90px; height:28px; color:#fff; line-height:26px; background:url(../images/sear_list_btn.jpg) no-repeat;display:block; text-align:center; }
.sear_list_btn a:hover,.sear_list_btn a:active { background:url(../images/sear_list_btn.jpg) no-repeat 0 -28px;color:#fff;}
.multiple_word_btn{ width:100px; height:26px; text-align:center; margin-right:10px !important; }
.multiple_word_btn a:link,.multiple_word_btn a:visited { width:100px; height:26px; color:#fff; line-height:26px; background:url(../images/multiple_word_btn.jpg) no-repeat;display:block; text-align:center; }
.multiple_word_btn a:hover,.multiple_word_btn a:active { background:url(../images/multiple_word_btn.jpg) no-repeat 0 -26px;color:#fff;}
.multiple_word_btn2{ width:130px; height:26px; text-align:center; margin-right:10px !important; }
.multiple_word_btn2 a:link,.multiple_word_btn2 a:visited { width:130px; height:26px; color:#fff; line-height:26px; background:url(../images/multiple_word_btn2.jpg) no-repeat;display:block; text-align:center; }
.multiple_word_btn2 a:hover,.multiple_word_btn2 a:active { background:url(../images/multiple_word_btn2.jpg) no-repeat 0 -26px;color:#fff;}
/*------------------查询条件 end--------------*/
.contract_box{ width:100%; height:auto; overflow:hidden;}
.contract_box ul{ width:100%; height:auto; clear:both; line-height:25px; margin-top:8px; _margin-top:5px;}
.contract_box ul li{ float:left; white-space:nowrap; margin-top:10px;}
.error_box{ text-align:center; color:#f00; width:100%; line-height:30px; }
.botton_btn{ width:90px; height:28px; color:#fff; border:0 none; background:url(../images/sear_list_btn.jpg) no-repeat;display:inline-block; text-align:center;}
.other_btn{ width:100px; height:26px; color:#fff; border:0 none; background:url(../images/other_btn.jpg) no-repeat;display:inline-block; text-align:center;}
/*----------------合同表单 end-----------*/
.b3{width:3%;text-align:center; clear:left; }
.b5{text-align:center; width:50px; overflow:visible;}
.b5_left{width:50px;text-align:left;}
.b8{width:8%;text-align:center;}
.b8_left{width:8%;text-align:left;}
.b10{width:10%;text-align:center;}
.b10_left{width:10%;text-align:left;}
.b10_right{width:10%;text-align:right;}
.b15{width:15%;text-align:center;}
.b15_left{width:15%;text-align:left;}
.b15_right{width:15%;text-align:right;}
.b20{width:19%; _width:19%;text-align:center;}
.b20_left{width:20%;text-align:left;}
.b20_right{width:20%;text-align:right;}
.b25{width:25%;text-align:center;}
.b25_left{width:25%;text-align:left;}
.b25_right{width:25%;text-align:right;}
.b30_left{width:30%;text-align:left;}
.b30{width:30%;text-align:center;}
.b30_right{width:30%;text-align:right;}
.b35{width:35%;text-align:center;}
.b35_left{width:35%;text-align:left;}
.b35_right{width:35%;text-align:right;}
.b36_left{width:36%; text-align:left;}
.b37_left{width:36%; *width:37%; width:37% \9; text-align:left;}
.b40{width:40%;text-align:center;}
.b40_left{width:40%;text-align:left;}
.b40_right{width:40%;text-align:right;}
.b45{width:45%;text-align:center;}
.b45_left{width:45%;text-align:left;}
.b45_right{width:45%;text-align:right;}
.b46{width:46%;text-align:center;}
.b46_left{width:46%;*width:47%; width:47% \9; text-align:left;}
.b46_right{width:46%;text-align:right;}
.b47{width:47%;text-align:center;}
.b47_left{width:47%;text-align:left;}
.b47_right{width:47%;text-align:right;}
.b50{width:50%;text-align:center;}
.b50_left{width:50%;text-align:left;}
.b50_right{width:50%;text-align:right;}
.b55{width:55%;text-align:center;}
.b55_left{width:55%;text-align:left;}
.b55_right{width:55%;text-align:right;}
.b60{width:60%;text-align:center;}
.b60_left{width:60%;text-align:left;}
.b65{width:65%;text-align:center;}
.b65_left{width:65%;text-align:left;}
.b65_right{width:65%;text-align:right;}
.b70{width:70%;text-align:center;}
.b70_left{width:70%;text-align:left;}
.b70_right{width:70%;text-align:right;}
.b75{width:75%;text-align:center;}
.b75_left{width:75%;text-align:left;}
.b75_right{width:75%;text-align:left;}
.b80{width:80%;text-align:center;}
.b80_left{width:80%;text-align:left;}
.b80_right{width:80%;text-align:right;}
.b85_left{width:85%;text-align:left;}
.b85_right{width:85%;text-align:right;}
.b90{width:90%;text-align:center;}
.b95{width:95%;text-align:center;}
.b95_left{width:95%;text-align:left;}
.b95_right{width:95%;text-align:right;}
.b99{width:99%;text-align:center;}
.b99_left{width:99%;text-align:left;}
.b99_right{width:99%;text-align:right;}
.w100{ width:100px;}
.w150{ width:150px;}
.w300{ width:300px;}
.w200{ width:200px;}
.w240{ width:230px;}
.w350{ width:350px;}
.w380{ width:380px;}
.w400{ width:400px;}
.w100_tit{ width:100px; text-align:right;}
.w120{ width:120px;}
.w120_r{ width:120px; text-align:right;}
.w100_r{ width:100px; text-align:right;}
.w470{ width:470px; text-align:left;}
.input_text{ width:80px;}
.fl{ float:left; line-height:18px; height:18px;}
#select_series{ border:0 none; }
#select_contract{ border:0 none; }
.input_select{width:99%; border:0 none;overflow:hidden; *border:1px solid #fff;}
/*-----------表格宽度------------*/
.inpu_bg{ background:url(../images/bg_input_text.png) no-repeat 0 -1px; line-height:23px; border:1px solid #a6c0d3; padding-left:3px; display:inline-block;
}
.inpu_bg_sele{ background:url(../images/bg_input_text.png) no-repeat 0 -1px; height:21px; line-height:21px; border:1px solid #a6c0d3; padding:3px 0 0 3px; display:inline-block;}
.res_warning{ width:16px; height:16px; display:inline-block; background:url(../images/none.gif) no-repeat; margin:4px 4px 0 4px;}
.res_out{ width:16px; height:16px; display:inline-block;  background:url(../images/agt_action_fail.png) no-repeat;margin:4px 4px 0 4px; }
.res_right{ width:16px; height:16px; display:inline-block;  background:url(../images/res_right.png) no-repeat; margin:4px 4px 0 4px; }
.role{ height:auto; margin:5px auto 0; padding-left:20px; clear:both;}
.role ul{ width:100%; height:auto;}
.role ul li{ width:100%; height:auto; margin-top:5px; _margin-top:2px;  clear:both; display:block;}
.role ul li span{ float:left;line-height:23px;}
.add_ico{ width:12px; height:13px; background:url(../images/add_ico.jpg) no-repeat; margin-top:5px; cursor:pointer;}
.sub_ico{ width:12px; height:13px; background:url(../images/sub_ico.jpg) no-repeat; margin-top:5px; cursor:pointer;}
.role_check{ margin:2px 0 0 5px; *margin:0 0 0 5px;}
.role_bold{ font-weight:600;}
/*-------------授权角色 end----------------*/
.user_role{ width:94% !important; height:auto; margin:0 auto; float:right;}
.user_role li input{ float:left; margin-top:3px;}
.publisc{ width:98%; background:#fff; margin:5px auto 0;}
.pub{ width:100%; background:url(../images/list_border.jpg) repeat-y right;}
.pub_le{ width:100%; background:url(../images/list_border.jpg) repeat-y; }
.pub_top{ width:100%; height:4px; background:url(../images/list_top.jpg) repeat-x 0 -4px; font-size:0;}
.pub_top_ri{ width:100%; height:4px; background:url(../images/list_top.jpg) no-repeat right -8px; font-size:0; }
.pub_top_le{ width:100%; height:4px; background:url(../images/list_top.jpg) no-repeat; font-size:0;}
.pub_content{ width:100%; background: url(../images/list_fot_mid.jpg) repeat-x bottom;}
.pub_content_ri{ width:100%; background:url(../images/list_fot_ri.jpg) no-repeat bottom right;}
.pub_content_le{ width:100%; background:url(../images/list_fot_le.jpg) no-repeat bottom left;}
/*-----------圆角框架 end------------*/
/*首页框框架 样式*/
.index_content{ width:98%; height:auto; margin:10px auto;}
.index_information{ width:360px; float:left; margin:10px 10px 0 10px; display:inline;}
.index_information_title{ width:310px; height:33px; line-height:33px; padding-left:30px; font-weight:600; background:url(../images/index_title_bg.gif) no-repeat; overflow:hidden;}
.index_information ul{ width:96%; height:auto; margin:5px auto; color:#333;}
.index_information ul li{ float:left; line-height:30px;}
.index_information ul li a:link,.index_information ul li a:visited {color:#fc7f0f; }
.index_information ul li a:hover,.index_information ul li a:active {color:#2785c3;}

.index_information_other{ width:96%; height:auto; margin:0 auto;}
.index_information_other ul{ width:98%; height:auto; margin:5px auto; color:#333;}
.index_information_other ul li{ float:left; line-height:30px;}
/*----------说明页样式 end---------*/
.index_detail{ width:800px; height:auto; margin:10px auto 0;}
.detail_title{ width:100%; line-height:30px; font-size:14px; font-weight:600; border-bottom:1px solid #3fa7de; overflow:hidden;}
.book_l{ width:220px; height:auto; float:left;}
.show_book{ width:208px; height:269px; overflow:hidden; margin-top:10px; background:url(../images/show_book_bg.jpg) no-repeat; padding:1px 0 0 1px;}
.book_l ul{ width:200px; height:auto; margin:5px auto;}
.book_l ul li{ width:100%; line-height:30px; color:#404040; overflow:hidden; display:block; *margin-top:-3px; margin-top:-3px \9;}
.book_l ul li span{ float:left; margin-right:5px;}
.book_r{ float:left; width:580px; margin-top:10px;}
.book_edit{}
.book_edit .book_edit_title{ height:30px; line-height:30px; background:#cde0f1; padding-left:10px; font-weight:600; color:#4375BE;}
.book_edit .book_edit_con{ width:96%; height:auto; line-height:25px; overflow:hidden; color:#404040; margin:5px auto 0;}
.catalog{ overflow:hidden;}
.catalog ul{ width:98%; height:auto; margin:0 auto;}
.catalog ul li{ width:100%; height:25px; background:url(../images/coto_mid_line.jpg) repeat-x; overflow:hidden; }
.catalog_title{ float:left; height:25px; background:#fff; line-height:25px; color:#27496C; padding-left:10px; }
.catalog_page{ float:right; height:25px; background:#fff; line-height:25px; color:#666; }
.resource_group{ width:550px; background:#F2F2F2; border:1px solid #CEDAE2; padding:10px; overflow:hidden; margin:5px auto 0;}
.resource_group ul{ width:570px; height:auto; overflow:hidden;}
.resource_group ul li{ width:170px; margin-right:10px; display:inline; text-align:center; color: #4375BE; float:left; line-height:25px;}
.resource_group_small{ width:68px; height:82px; overflow:hidden; background:url(../images/group_small_bg.jpg) no-repeat; margin:0 auto; padding:1px 0 0 1px;}
.resource_group_normal{ width:128px; height:162px; overflow:hidden; background:url(../images/group_normal_bg.jpg) no-repeat; margin:0 auto; padding:1px 0 0 1px;}
.resource_group_big{ width:158px; height:202px; overflow:hidden; background:url(../images/group_big_bg.jpg) no-repeat; margin:0 auto; padding:1px 0 0 1px;}
.resource_group_small img,.resource_group_normal img,.resource_group_big img{ float:left;}
.layer_box{ width:100%; height:25px; margin-top:5px;}
.layer_up,.layer_down{ width:17px; height:18px; float:right; cursor:pointer; }
.layer_up{background:url(../images/layer_up.png) no-repeat;}
.layer_down{ background:url(../images/layer_down.png) no-repeat;}
.layer_default{ display:none;}
.h100{ height:100px !important;}
.h150{ height:150px !important;}
.index_ri_center{ width:730px; height:auto; margin:0 auto;}
.border_none{ border:none; overflow:hidden; *border:1px solid #fff;}
.return_btn,.examine_btn,.delete_btn,.storage_btn{height:31px; border:0 none; cursor:pointer; float:left; margin:0 0 0 30px; display:inline;}
.return_btn{ width:147px; background:url(../images/return_btn.jpg) no-repeat;}
.examine_btn{ width:105px; background:url(../images/examine_btn.jpg) no-repeat; }
.delete_btn{ width:105px; background:url(../images/delete_btn.jpg) no-repeat; }
.storage_btn{ width:105px; background:url(../images/storage_btn.jpg) no-repeat; }
.fl_left{ float:left;}
/*------------详细页 end----------*/
.platform_icon{ width:16px; height:16px; background:url(../images/platform_icon.gif) no-repeat; margin:7px 4px 0 10px;}
.pop_box{ padding:3px;}
.pop_box ul li{ float:left; padding:5px 0; line-height:25px;}
.pop_box ul li span{ float:left;}
.pop_checkbox{ margin:3px 0 0 0;}
.pop_mar15{ margin-right:15px;}
/*--------点击弹出层样式-------*/
.pop_list{ width:400px; position:absolute; top:138px; left:18%; z-index:99999;}  
.search_pop{ width:100%; border:1px solid #A6C0D3; z-index:9999; background:#fff; position:relative; overflow:hidden;}
.search_pop ul li{ width:100%; margin:0 !important; padding-left:3px;}
.search_pop ul li span{ float:left; padding-left:15px;}
.search_pop ul li span a:link,.search_pop ul li span a:visited {color:#fc7f0f; }
.search_pop ul li span a:hover,.search_pop ul li span a:active {color:#2A407C;}
.search_gray{ background:#ddd;}
/*-------------prompt信息------------*/
.prompt{ width:99%; margin:-6px auto 0; position:relative; z-index:110;}
.prompt_menu{ width:100%; height:auto; height:26px; margin-top:15px; position:relative; z-index:111 }
.prompt_menu ul{ padding-left:40px;}
.prompt_menu ul li{ width:111px; height:26px; line-height:26px; color:#27496c; float:left; margin-left:15px; display:inline; text-align:center; font-size:14px; cursor:pointer;}
.prompt_menu_normal{ background: url(../images/prompt_btn_normal.png) no-repeat; }
.prompt_menu_press{ background: url(../images/prompt_btn_press.png) no-repeat; }
.prompt_le{ float:left; width:151px; height:auto; margin:70px 0 0 30px; display:inline;}
.prompt_btn_left{ width:100%; height:39px; background:url(../images/prompt_con_btn.png) no-repeat; text-align:center; font-size:14px; color:#fff; line-height:39px; margin-top:60px;}
.prompt_arrow{ width:42px; height:53px; background:url(../images/prompt_con_arrow.png) no-repeat; margin:28px auto 0; }
.prompt_complete_btn{ width:88px; height:88px; background:url(../images/prompt_complete_btn.png) no-repeat; margin:30px auto 0;}
.prompt_ri{ float:left; margin-top:20px; }
.prompt_role_box{ width:100%; height:180px; }
.prompt_role_line{ width:140px; height:30px; background:url(../images/prompt_line_bg.png) repeat-x bottom left; text-align:center; line-height:30px; color:#616567; float:left; margin-top:99px;}
.prompt_role_bg{ width:186px; height:176px; background:url(../images/prompt_work_bg.png) no-repeat; float:left;}
.prompt_role_bg_ri{ width:186px; height:176px; background:url(../images/prompt_work_bg%20_ri.png) no-repeat; float:left;}
.prompt_time{ color:#326c50; padding:20px 0 0 85px; cursor:pointer; }/*时间*/
.prompt_remind{ width:14px; line-height:20px; height:60px; color:#616567; padding:15px 0 0 52px;}/*提醒*/
.prompt_liability{color:#616567; padding:0 0 0 120px;}/*责任人*/
.prompt_admin{ cursor:pointer; padding:21px 0 0 18px; color:#5d5a27;}/*管理人员*/
/*--------------------公共弹出层样式------------------------*/
.publisc_popbox{ background:#efeeee;}
.publisc_title,.publisc_title_le,.publisc_title_ri{ width:100%; height:43px;}
.publisc_title{ background:url(../images/publisc_pop_title_mid.jpg) repeat-x;}
.publisc_title_le{ background:url(../images/publisc_pop_title_le.jpg) no-repeat;}
.publisc_title_ri{ background:url(../images/publisc_pop_title_ri.jpg) no-repeat right;}
.publisc_title_name{ line-height:43px; font-size:14px; font-weight:600; padding-left:20px; float:left; color:#fff;}
.publist_dele_btn{ width:25px; height:24px; float:right; margin:8px 10px 0 0; overflow:hidden;}
.publisc_le{ background:url(../images/publisc_pop_mid_le.jpg) repeat-y; width:100%;  }
.publisc_ri{ background:url(../images/publisc_pop_mid_ri.jpg) repeat-y right; width:100%; overflow:hidden;}
.publisc_box{ width:96%; border:1px solid #d5d3d3; background:#fff; margin:10px auto 0;}
.publisc_box ul{ padding:0 10px;}
.publisc_box ul li{ float:left; margin-top:10px;}
.publisc_fot,.publisc_fot_le,.publisc_fot_ri{ width:100%; height:18px; }
.publisc_fot{ background:url(../images/publisc_pop_fot_mid.jpg) repeat-x;}
.publisc_fot_le{ background:url(../images/publisc_pop_fot_le.jpg) no-repeat;}
.publisc_fot_ri{ background:url(../images/publisc_pop_fot_ri.jpg) no-repeat right;}
.publisc_btn_box{ width:260px; height:40px; margin:0 auto;}
.publisc_btn{ width:98px; height:34px; background:url(../images/publisc_pop_btn.jpg) no-repeat; text-align:center; line-height:34px; float:left; margin-left:20px; display:inline; font-size:14px;}
.publisc_btn a:link,.publisc_btn a:visited {color:#fff; }
.publisc_btn a:hover,.publisc_btn a:active {color:#fc7f0f;}
.publisc_date_input{ width:30px;}
/*---------------------按钮---------------------------*/
.button_blue {font-size:25px; font-family:'Microsoft YaHei'; background-color:#2A407C;color:white;}
