<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Beyondbit.OA.BusinessObject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Beyondbit.OA.BusinessObject.Properties.Settings>
            <setting name="Beyondbit_OA_BusinessObject_UserWebService_UserService"
                serializeAs="String">
                <value>http://uniws.xh.sh.cn/web/webservice/UserService.asmx</value>
            </setting>
        </Beyondbit.OA.BusinessObject.Properties.Settings>
    </applicationSettings>
</configuration>